div.mcqContainer
{
  text-align: center;
}

div.mcqContainer > ul
{
  list-style-type: none;
  padding: 0;
}

div.mcqContainer > div.questionContainer
{
  padding-bottom: 20px;
  cursor: default;
}

div.mcqContainer > ul > li:first-child > div.btn-choice
{
  border-top: 1px solid #ccc;
}

div.mcqContainer > ul > li > a.btn-choice
{
  text-decoration: none;
  color: #000;
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

div.mcqContainer > ul > li > a.btn-choice:hover
{
  background-color: #DDE2E5;
  cursor: pointer;
}

div.mcqContainer > ul > li > a.btn-choice.choiceSelected
{
  background-color: #EFF3F6;
  cursor: pointer;
}

div.mcqContainer > ul > li > a.btn-choice.correctAnswer
{
  border: 2px solid #5CB39F;
}

div.mcqResults table
{
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

div.mcqResults table th, 
div.mcqResults table td
{
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

div.mcq-sequence {
  padding-top: 20px;
}

div.mcq-sequence span.error-color {
  color: #9D2323;
  font-weight: bold;
}

div.mcq-sequence button {
  margin: 20px 0;
  line-height: 34px;
  position: relative;
  cursor: pointer;
  user-select: none;
  outline:none !important;
  padding: 5px 40px;
}

div.mcq-sequence button:active {
  outline: none;
}

div.mcq-sequence button:before,
div.mcq-sequence button:after {
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 0;
  outline:none;
}

/** Wizard plugin. */

.wizard {
  margin: 20px auto;
  background: #fff;
}

.wizard .nav-tabs {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0;
  border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
  position: relative;
}

.wizard .connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard .nav-tabs > li.active > a,
.wizard .nav-tabs > li.active > a:hover,
.wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

.wizard span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 65px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color:#ccc;
}

.wizard span.round-tab.answered {
  color: #888;
  border: 2px solid #888;
}

.wizard span.round-tab.correct {
  color: #1BA080;
  border: 2px solid #1BA080;
}

.wizard span.round-tab.wrong {
  color: #9D2323;
  border: 2px solid #9D2323;
}

.wizard span.round-tab i {
    color:#555555;
}

.wizard .wizard li.active span.round-tab {
    background: #fff;
}

.wizard .nav-tabs > li {
    width: 16%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    .wizard span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

  