[data-reactroot] {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.pspicture-view {
  position: relative;
  margin: auto;
}

pre {
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

.MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus {
   outline: none;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.no-margin-top {
  margin-top: 0;
}

.full-width {
  width: 100%;
}

.text-contour {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

div.alert {
  margin: 0 10px;
  text-align: center;
}