/** General. */

body {
  font-family: 'Lato';
}

h1
{
  padding-left: 10px;
  font-family: 'Indie Flower';
  font-size: 4.5rem;
  color: #404040;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff;
}

h2
{
  font-family: 'Indie Flower';
  font-size: 2.8rem;
  text-shadow: 0 0 2px #fff, 0 0 5px #fff;
  color: #404040;
  font-weight: bold;
}

.title-section {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 20px;
  background-image: url("/img/layout/formulas_bg.png");
  background-repeat: repeat-x;
  background-position: center;
}

.container-loading {
  padding-top: 100px;
}

.btn-common {
  background: #fff;
  font-size: 14px;
  color: #0099ae;
  border: 1px solid #0099ae;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 5px 20px;
}

/*button css*/
.button-animated{
  display: inline-block;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 min-width: 100px;
 padding: 7px 33px;
 font-family: 'Lobster', cursive;
 font-size: 22px;
 line-height: 26px;
 text-decoration: none;
 color: #FFF;
 text-shadow: 0 1px 2px rgba(0,0,0,0.75);
 background: #0099AE;
 outline: none;
 border-radius: 15px;
 border: 1px solid #0099AE;
 box-shadow: inset 1px 1px 0px rgba(0, 153, 174, 0.25), /* highlight */ inset 0 0 6px #06a5bb, /* inner glow */ inset 0 80px 80px -40px #24c7de, /* gradient */ 1px 1px 3px rgba(0,0,0,0.75);
 position: relative;
 overflow: visible;
 -webkit-transition: 500ms linear;
 -moz-transition: 500ms linear;
 -o-transition: 500ms linear;
 transition: 500ms linear;
}
.button-animated:hover{
 background: #4CB7C6;
 color: white;
 text-shadow: 0 1px 2px rgba(0,0,0,0.75), 0 0 40px #FFF;
 box-shadow: inset 1px 1px 0px rgba(42, 222, 247, 0.25), /* highlight */ inset 0 0 6px #28a6b7, /* inner glow */ inset 0 80px 80px -40px #64e5f7, /* gradient */ 1px 1px 3px rgba(0,0,0,0.75);
}
/*button css end*/

/*form input box css*/

.form-input{
  border:none ;
  border-bottom: 1px solid;
  color: #0099AE;
}

.form-input:focus{
  outline: none;
  color: 'black';
}
/*form input box css end*/

/*form select */
.form-select{
  border: none;
  border-bottom: 1px solid;
  background: transparent;
  color: #0099AE;
}
.form-select:focus{
  outline: none;
  color: #0099AE;
}
/**form select end**/

/* Radio button */
.custom-radiobtn .radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
  
/* Hide the browser's default radio button */
.custom-radiobtn .radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
  
/* Create a custom radio button */
.custom-radiobtn .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #EEE;
  border-radius: 50%;
  border: 2px solid #0099AE;
}
  
/* On mouse-over, add a grey background color */
.custom-radiobtn .radio-container:hover input ~ .checkmark {
  background-color: #CCC;
}

/* When the radio button is checked, add a blue background */
.custom-radiobtn .radio-container input:checked ~ .checkmark {
  background-color: #0099AE;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.custom-radiobtn .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
  
/* Show the indicator (dot/circle) when checked */
.custom-radiobtn .radio-container input:checked ~ .checkmark:after {
  display: block;
}
  
/* Style the indicator (dot/circle) */
.custom-radiobtn .radio-container .checkmark:after {
  top: 6px;
  left: 7px;
  width: 7px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

  /*** Radio button css end **/

  /*checkbox css*/
  
/* checkbox container */
.custom-checkbox .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #0099AE;
}

/* On mouse-over, add a grey background color */
.custom-checkbox .checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
  transition: 500ms linear;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox .checkbox-container input:checked ~ .checkmark {
  background-color: #0099AE;
  transition: 500ms linear;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkbox-container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 2px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*** Checkbox css end *****/

/** Top navigation bar. */

.navbar {
  padding-top: 10px;
  background: #fff;
  border: none;
}

.navbar-brand {
  font-family: 'Indie Flower';
  font-size: 3.5rem;
  padding-left: 10px;
}

ul.menu {
  font-family: 'Lato';
  font-weight: 700;
}

ul.menu.navbar-nav > li > a:hover {
  color: #00aeef;
}

.userbox {
  border-left: 1px solid #e7e7e7;
}

.userbox div.login-button-container {
  margin-top: 10px;
}

.userbox .navbar-form {
  margin-left: 0;
  margin-right: 0;
}

/** Footer. */

footer#footer {
  margin-top: 100px;
  /* background-image: url("/img/layout/formulas_bg.png"); */
}

footer#footer .copyright {
  color: #666;
  margin-bottom: 0;
  padding-top: 10px;
}

footer#footer .credits {
  color: #bbb;
  font-size: 0.8em;
}

footer#footer .credits a {
  color:rgb(161, 211, 255);
}

/** Accueil. */

img#prof-tableau {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .title-section {
    text-align: center;
  }

  img.illustration {
    max-height: 300px;
  }
}

/** Classe page (list of cours). */

div.cours-list ul {
  list-style-type: none;
  padding: 0;
}

div.cours-list ul li {
  font-size: 2rem;
}

div.cours-list ul li a {
  color: #333;
  text-decoration: none;
}

div.cours-list ul li a:hover {
  color: #00aeef;
}

/** Cours page. */

.videoContainer 
{
  margin-top: 20px;
  margin-bottom: 40px;
  border: 2px solid #555;
}

div.cours-contents {
  padding: 0;
  font-size: 1.1em;
}

@media (max-width: 767px) {
  div.cours-contents {
    padding: 0 20px;
  }
}

div.cours-contents h1,
div.cours-contents h2,
div.cours-contents h3,
div.cours-contents h4,
div.cours-contents h5,
div.cours-contents h6 {
  font-family: Lato;
  padding-left: 0;
}


div.cours-contents h1 {
  margin-top: 40px;
  padding-bottom: 5px;
  border-bottom: 3px dotted #ccc;
}

div.cours-contents > div:first-child > h1:first-child {
  margin-top: 0px;
}

/** Epreuve de Cours */

input.question_input {
  width: 100px;
}

span.striked {
  font-weight: bold;
  text-decoration: line-through;
}

span.wrong {
  color: red;
}

span.correct {
  color: green;
}

span.question_checkbox {
  padding: 0px;
}

span.question_checkbox.correct,
select.correct,
input.correct {
  background-color:rgba(0,255,0,0.2);
}

span.question_checkbox.wrong,
select.wrong,
input.wrong {
  background-color:rgba(255,0,0,0.2);
}

span.correction {
  font-weight: bold;
  color: rgb(56, 86, 138);
}

/** Profile Info. */

div.profile-info-contents {
  padding: 0 20px;
}

/** QCMs. */

div.qcm-seq-list-wrapper {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 60px;
}

table.eleve-qcm-table {
  width: 100%;
  font-size: 1.1em;
}

table.eleve-qcm-table tbody tr {
  border-top: solid 1px #777;
}

table.eleve-qcm-table tbody tr td,
table.eleve-qcm-table thead tr th {
  padding: 5px 10px;
  border-left: 1px solid #cecece;
}

table.eleve-qcm-table tbody tr td:first-child,
table.eleve-qcm-table thead tr th:first-child {
  border-left: 0;
}

select#theme {
  margin-bottom: 10px;
}

/** Medailles. */

table.medal-table {
  margin-left: 20px;
}

table.medal-table tr {
  border-left: 2px dotted #cecece;
}

table.medal-table tr td {
  padding: 0 20px;
  font-size: 1.4em;
  font-family: 'Indie Flower';
}

/** Todo-list style */
.todo {
  font-family: 'Indie Flower';
  position: relative;
  margin: 0 auto;
  padding: 12px 0;
  background: #fff;
  border: 1px solid;
  border-color: #dfdcdc #d9d6d6 #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before, .todo:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.todo:after {
  left: 0;
  right: 0;
  bottom: -3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.todo:before {
  left: 2px;
  right: 2px;
  bottom: -5px;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.lt-ie9 .todo:before, .lt-ie9 .todo:after {
  height: 1px;
  border-top: 0;
}

.todo-list {
  border-top: 1px solid #e6ebed
}

.todo-list:before {
  content: '';
  width: 3px;
  z-index: 2;
  border: 1px solid #f2e3df;
  border-width: 0 1px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 50px;
}

.todo-list li {
  position: relative;
  padding: 12px 15px 0px 70px;
  line-height: 21px;
  font-size: 12px;
  color: #8b8f97;
  border-bottom: 1px solid #e6ebed;
}

/** boutique page style */
form.registrationForm ul.todo-list{
  list-style-type: none;
  padding: 0;
}
form.registrationForm ul.todo-list > li{
  color: #3f48cc;
  font-size: 2rem;
  height: 30px;
  padding-top: 0px;
}
form.registrationForm ul.todo-list > li.formHead{
  font-size: 3rem;
  padding-left: 100px;
  padding-top: 12px;
  font-weight: bold;

}
form.registrationForm ul.todo-list > li > label{
  display: block;
  color: #3f48cc;
}
form.registrationForm ul.todo-list > li > label > p{
  display: inline-block;
  float: left;
  margin: 0px;
  padding-top: 12px;
}
form.registrationForm ul.todo-list > li > label > input{
  display: inline-block;
  text-align: center;
  float: left;
  width: 100px;
  height: 27px;
  margin-left: 10px;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  border: 0px solid #000;
  border-bottom: 3px solid #3f48cc;
  color: #348fb7;
  font-size: 2rem;
  font-weight: normal;
}
form.registrationForm ul.todo-list > li > input.submitBtn{
  float: right;
  width: auto;
  margin-right: 45px; 
  height: 33px;
  padding: 5px 15px;
  border: 1px solid #3f48cc;
  border-radius: 8px;
  color: #3f48cc;
  font-size: 2rem;
  font-weight: bold;
  transition: all ease-in-out 0.5s;
}
form.registrationForm ul.todo-list > li > input.submitBtn:hover{
  transform: translate(0px, -5px);
  box-shadow: 2px 2px 2px #ddd;
}
form.registrationForm ul.todo-list > li > label > select{
  display: inline-block;
  text-align: center;
  float: left;
  width: 150px;
  height: 27px;
  margin-left: 10px;
  padding: 0px;
  box-shadow: none;
  border-radius: 0px;
  border: 0px solid #000;
  border-bottom: 3px solid #3f48cc;
  color: #348fb7;
  font-size: 2rem;
  font-weight: normal;
}